<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channel</key>
	<string>channel</string>
	<key>sub_channel</key>
	<string>sub_channel</string>
	<key>utm_source</key>
	<string></string>
	<key>utm_medium</key>
	<string></string>
	<key>utm_campaign</key>
	<string></string>
	<key>utm_term</key>
	<string></string>
	<key>utm_content</key>
	<string></string>
</dict>
</plist>
